ItemName {
  color: red;
  font-family: copperplate Gothic Light;
  font-size: 16pt;
  font-weight: bold;
}
ItemPrice,
Quantity {
  color: yellow;
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
}
